<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- <form th:action="@{/register}" -->
<form th:action="@{/users/add}"
th:object="${register}" method="post">
<label for="firstName">First name:</label><br>
<input type="text" th:field="*{firstName}"><br>
<label for="lname">Last name:</label><br>
<input type="text" th:field="*{lastName}"><br><br>
<label for="password">password:</label><br>
<input type="password" th:field="*{password}"><br><br>
<input type="submit" value="Submit">
</form>
</body>
</html>
